<% provide(:title, "Help") %>
<h1>Sameple App</h1>
<p> This is the help page for the
<a href="http://www.railstutorial.org/#help"> ROR Help </a>
To get help on this sample app look
<a href="http://www.railstutorial.org/#book"><em>ROR Tutorial</em> book </a>	
</p>
